.invite__title {
  font-family: $primery-text;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  color: $primery-background;
  text-transform: uppercase;
  margin-bottom: 20px;
}
// .invite {
//   margin-left: 70px;
// }
.set-icon__border {
  margin-top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
