.mobile-nav {
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.header-button__icon-open {
  width: 24px;
  height: 16px;
  fill: #212121;
  transition: fill 250ms $method-transition;
}
.header-button__icon-open:hover {
  fill: #2196f3;
}
.header-button__icon-close {
  fill: #212121;
  width: 19px;
  height: 19px;
  transition: fill 250ms $method-transition;
}
.header-button__icon-close:hover {
  fill: #2196f3;
}
.menu-open {
  //   position: absolute;
  //   top: 22px;
  //   right: 35px;
  border: none;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-close {
  position: absolute;
  top: 25px;
  right: 21px;
  border: none;
  background-color: #fff;
  transition: fill 250ms $method-transition;
  fill: #212121;
}
.mobile-menu__item:not(:first-child) {
  padding-top: 32px;
}
.mobile-menu__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms $method-transition;
}
.mobile-menu__link:hover {
  color: #2196f3;
}
.mobile-contacts__item:not(:first-child) {
  margin-top: 32px;
}
.mobile-contacts__link {
  font-family: $primery-text;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.mobile-tel {
  color: #2196f3;
  font-size: 24px;
  line-height: 1.17;
  width: 90vw;
  @media screen and (min-width: 480px) {
    font-size: 36px;
  }
}
.mobile-email {
  font-size: 24px;
  line-height: 1.16;
  color: #757575;
}
.mobile-social__link {
  font-family: $primery-text;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.mobile-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.mobile-social__item {
  text-decoration: none;
}
.mobile-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-nav__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  height: 100%;
  //   @media screen and (min-width: 768px) {
  //     width: 480px;
  //     height: 796px;
  //   }
}
.mobile-button-soc {
  position: absolute;
}
.mobile-nav .is-hidden {
  opacity: 0;
  pointer-events: none;
}
// .mobile-social__item {
//   //   border-right: 1px solid rgba(33, 33, 33, 0.2);
//   //   transform: rotate(90deg);
// }
