.logo {
  /* cursor: default; */
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $accent-color;
  margin: 0px;
  /* display: flex; */
  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
}
.logo__studio-black {
  color: $primery-color;
}
