.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 528px;
  // height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #212121;
  text-align: left;
  @media screen and (min-width: 290px) {
    width: 450px;
    height: 609px;
  }
}
.modal-button {
  position: absolute;

  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
  fill: black;
  border-color: transparent;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $method-transition;
}
.modal-button__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  padding: 0;
}
.modal-button {
  &:hover {
    fill: #2196f3;
  }
}

/* skills to form */

.modal-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 609px;
  padding: 40px;
}
/* .spacing-form {
  margin-top: 12px;
} */
.modal-form__conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-form__conteiner input {
  padding: 0;
  margin: 0;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;

  &:first-child {
    margin-top: 0;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 14px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms $method-transition;
}

.modal-form__input {
  position: relative;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  padding: 14px 15px;
  transition: border 250ms $method-transition, fill 250ms $method-transition;
}

.modal-form__input {
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
  &:hover + .modal-form__icon,
  &:focus + .modal-form__icon {
    fill: #2196f3;
  }
}
/* .icon-form-name:hover,
.icon-form-name:focus {
  fill: #2196f3;
} */

.modal-form__title {
  font-family: $primery-text;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  margin-top: 0;

  color: #212121;
}
#name,
#tel,
#email {
  width: 100%;
  height: 40px;
  cursor: pointer;
}

#comment {
  width: 100%;
  height: 120px;
  cursor: pointer;
  padding: 12px 16px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border 250ms $method-transition;
}

textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}
.agreement {
  text-align: center;
  font-family: $primery-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
}
.engreement__input {
  &:focus + .engreement_icon {
    border-color: $accent-color;
  }

  &:checked + .engreement_icon {
    border-color: transparent;
    background-color: $accent-color;
    background-image: url("../images/icons.svg/Vector\(1\)\(1\).svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
  }
}
.engreement_icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin: 25px 8px 0 12px;
  border-radius: 4px;
  border: 2px solid #212121;
  cursor: pointer;
}
.agreement__info {
  display: inline-block;
  font-size: 14px;
}
.agreement__link {
  padding: 0;
  color: #2196f3;
}
/* .text-agreement::before {
  content: "";
 
  display: inline-block;
  width: 16px;
  height: 15px;
  margin: 25px 7px 0 0;
  align-items: center;
  justify-content: center;
  border: 2px solid #212121;
  background-image: url(../images/icons.svg/Vector\(1\)\(1\).svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #afb1b8;
} */
//  .modal-button-container {
// //   display: flex;
// //   position: relative;
// //   flex-direction: column;
// //   justify-content: space-between;
// // }
.angreement-button {
  font-family: $primery-text;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  margin: 30px 124px 0 124px;
  padding: 10px 55px;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  color: #ffffff;
}
