.page-footer__flex {
  display: flex;
}
.link-header__icon-email {
  display: inline-block;
  width: 22px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.link-header__icon-phone {
  display: inline-block;
  width: 14px;
  height: 22px;
  margin-right: 10px;
}
.page-footer {
  background: #2f303a;
  font-family: $primery-text;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 60px 0 60px;
}

address li {
  margin-top: 9px;
}
.set-address {
  padding: 0;
  margin: 0;
}
.set-address__link {
  font-family: $primery-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.set-address__item {
  font-family: $primery-text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
/* logo white */
.page-footer__logo {
  color: white;
}
.email-address,
.tel-address {
  font-style: normal;
  text-decoration: none;
}
// footer-icon
.invite__title {
  font-family: $primery-text;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  color: $primery-background;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.invite {
  margin-left: 70px;
}
.set-icon__border {
  margin-top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
// footer-form
/* form-footer */
.form__title {
  position: relative;
  font-family: $primery-text;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.form {
  margin-left: 93px;
}
.form__button {
  display: inline-block;
  align-items: center;
  position: relative;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.form__icon {
  position: absolute;
  right: 28px;
  width: 24px;
  height: 24px;
  fill: #fff;
  padding-left: 0;
}
.form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: inherit;
  font-family: $primery-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
