/* sectioin porfolio */

.section-button {
  font-family: $primery-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: $primery-text;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.set-button {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.set-button li:first-child {
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.set-button__button {
  font-family: $primery-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  /* background: var(--primery-background); */
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: #f5f4fa;
}
.set-button li {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
.set-button__button {
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primery-background;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.set-button__button {
  color: $primery-color;
  transition: background-color 250ms $method-transition,
    color 250ms $method-transition, box-shadow 250ms $method-transition;
}
