/* оформление flexbox-portfolio */
.set-project h3 {
  font-family: $primery-text;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.set-project p {
  font-family: $primery-text;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.set-project {
  display: block;
  // flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.set-project .set-project__item {
  flex-basis: calc(100% / 3 -20px);
  margin-left: $card-set-gap;
  margin-top: $card-set-gap;
  transition: box-shadow 250ms $method-transition;
}
.set-project__item {
  &:nth-child(3n + 1) {
    margin-left: 0;
  }
  &:nth-child(-n + 3) {
    margin-top: auto;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.set-project__title {
  padding: 0 0 4px 0;
  text-align: left;
  margin: 0 24px;
}

.set-project__text {
  text-align: left;
  margin: 0 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.card-content {
  border: 1px solid #eeeeee;
  padding: 20px 0;
}
.product__thumb > p {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  padding: 63px 24px;
}

.product__thumb {
  position: relative;
  bottom: 0;
  left: 0;
  max-width: 370px;
  max-height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.product {
  cursor: pointer;
  transition: transform 250ms $method-transition;
}
.product {
  &:hover .product__text {
    transform: translateY(0);
  }
}

.product__text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  bottom: 0;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms $method-transition;
}
