// .section-detail {
//   padding-top: 94px;
// }
.set-features {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-right: -30px;
  margin-bottom: 0;
}
.set-features__item {
  width: 270px;
  margin-right: 30px;
}
.set-features__title {
  font-family: $primery-text;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.set-features__item {
  &::before {
    content: "";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
  }
  &:nth-child(1)::before {
    background-image: url("..//images/icons.svg/antenna.svg");
  }
  &:nth-child(2)::before {
    background-image: url("..//images/icons.svg/2.svg");
  }
  &:nth-child(3)::before {
    background-image: url("..//images/icons.svg/3.svg");
  }
  &:nth-child(4)::before {
    background-image: url("..//images/icons.svg/4.svg");
  }
}

.set-features p {
  color: $title-color;
  font-family: $primery-text;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.set-features h3 {
  font-family: $primery-text;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
}
