.set-client {
  list-style: none;
  padding: 0;
  margin-left: -30px;
  margin-bottom: -30px;
  vertical-align: middle;
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}
.set-client__item {
  margin-left: 30px;
  margin-bottom: 30px;
  fill: #afb1b8;

  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // }
  // .set-client__item {
  //   &:first-child {
  //     margin-left: 0;
  //   }
}
.set-client__link {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: $primery-background;
  transition: border 250ms $method-transition;
  @media screen and (min-width: 290px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.set-client__link {
  &:hover .set-client__icon,
  &:focus .set-client__icon {
    fill: #2196f3;
  }
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}
.set-client__link .set-client__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  text-decoration: none;
  transition: fill 250ms $method-transition;
}
