// .section-detail {
//   padding-top: 94px;
// }
.set-features {
  // width: 100%;
  padding: 0;
  margin-left: -30px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.set-features__item {
  // width: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.set-features__title {
  font-family: $primery-text;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  text-transform: uppercase;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.set-features__item {
  &::before {
    content: "";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
  }
  &:nth-child(1)::before {
    background-image: url("..//images/icons.svg/antenna.svg");
  }
  &:nth-child(2)::before {
    background-image: url("..//images/icons.svg/2.svg");
  }
  &:nth-child(3)::before {
    background-image: url("..//images/icons.svg/3.svg");
  }
  &:nth-child(4)::before {
    background-image: url("..//images/icons.svg/4.svg");
  }
}

.set-features p {
  color: $title-color;
  font-family: $primery-text;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.set-features h3 {
  font-family: $primery-text;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
}
